#video-grid{
    display: flex;
    justify-content: center;
}
video{
    border: 3px solid blue;
    margin: 5px;
    height: 50%;
    width: 50%;
    object-fit: cover;
}
body{
    background-color: black;
}